.board {
	height: 50%;
	width: 50%;
	/*margin: 8%;
	float: left;*/
	margin: 0 auto;
/*	display: inline-block;
*/
}

.row {
	margin:0 auto;
}

/*can't get my cards to sit in the center, messed around
with .bored and .card to find a "close enough"
*/
.card {
	height: 323px;
	width: 222px;
	border: 1px solid black;
	background-image: url('/Users/zuspadt/fundamentals/wdi-fundamentals-memorygame/starter-code/images/back.png');
	border-radius: 10px;
	display: inline-block;
	margin: 5%;
	float: left;
	
}

body {
	background-color: #DBD7BE;
	font-family: 'Lato', sans-serif;
}

h1, h2, h6, p {
	text-align: center;
}

h1 {
	color: #000000;
}

h2 {
	color: #000000;
}

.name {
	color: #ff0000;
}


nav {
	background: #242F33;
}

nav a {

	text-decoration: none;
	background-color: #242F33;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #665F3A;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer {
	background-color: #665F3A;
	text-align: center;	
	clear: both;
}